@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
  }
}

.primary-gradient {
  background: linear-gradient(135deg, #7e57e2ff 0%, rgb(71, 50, 126) 100%);
}

/* Shimmer animation para loading states */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}


